<h2>Hero Detail</h2>
<h3><i>A FormGroup with multiple FormControls</i></h3>
<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
  <div style="margin-bottom: 1em">
    <button type="submit"
            [disabled]="heroForm.untouched" class="btn btn-success">Save</button> &nbsp;
    <button type="button" (click)="revert()"
            [disabled]="heroForm.untouched" class="btn btn-danger">Revert</button>
  </div>

  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>

  <div class="form-group radio">
      <h4>Super power:</h4>
      <label class="center-block"><input type="checkbox" formControlName="power" value="flight">Flight</label>
      <label class="center-block"><input type="checkbox" formControlName="power" value="x-ray vision">X-ray vision</label>
      <label class="center-block"><input type="checkbox" formControlName="power" value="strength">Strength</label>
    </div>
    <div class="checkbox">
      <label class="center-block">
        <input type="checkbox" formControlName="sidekick">I have a sidekick.
      </label>
    </div>

  <div formArrayName="secretLairs" class="well well-lg" >
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h3>
            Secret Lairs
          </h3>
        </div>
        <div class="col-sm-4 text-left">
          <!-- secret lairs expand/collapse button -->
          <button
            (click)="toggleSecretLairsCollapsed()"
            type="button"
            class="btn btn-info btn-sm"
            data-toggle="collapse"
            data-target="#secretLairsCollapsable">
            <div *ngIf="secretLairsCollapsed; else collapseSecretLairsButton">
                <span class="glyphicon glyphicon-collapse-down"></span>
            </div>
            <ng-template #collapseSecretLairsButton>
              <div>
                <span class="glyphicon glyphicon-collapse-up"></span>
              </div>
            </ng-template>
          </button>
        </div>
      </div>
    </div>
    <!--
      setting the formArrayName="secretLairs" establishes the secretLairs FormArray as
      the context for form controls in the inner, repeated HTML template
      note that by default, elements with the bootstrap class "collapse" are closed by default; in order to have it open, use "collapse in"
    !-->
    <div id="secretLairsCollapsable" class="collapse">
      <div *ngFor="let address of secretLairs.controls; let i=index" [formGroupName]="i" >
        <!-- The repeated address template -->
            <!--
              The source of the repeated items is the FormArray.controls; not the ForArray itself
              Each control is an address Formgroup, exactly what the previous template HTML expected
            !-->
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h4>
                Address #{{i + 1}}
              </h4>
            </div>
            <div class="col-sm-4">
              <button (click)="removeLair(i)" type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
                Remove
              </button>
            </div>
          </div>
        </div>
        <div style="margin-left: 1em;">
          <div class="form-group">
            <label class="center-block">Street:
              <input class="form-control" formControlName="street">
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">City:
              <input class="form-control" formControlName="city">
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">State:
              <select class="form-control" formControlName="state">
                <option *ngFor="let state of states" [value]="state">{{state}}</option>
              </select>
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">Zip Code:
              <input class="form-control" formControlName="zip">
            </label>
          </div>
        </div>
        <br>
        <!-- End of the repeated secret Lair (address) template -->
      </div>
      <button (click)="addLair()" type="button">
        Add a Secret Lair
      </button>
    </div>
  </div>

    <div formArrayName="automotives" class="well well-lg">
      <h3>
        Means of transportation
      </h3>
      <div *ngFor="let automotive of automotives.controls; let i=index" [formGroupName]="i" >
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h4>
                Automotive #{{i + 1}}
              </h4>
            </div>
          </div>
        </div>
        <div style="margin-left: 1em;">
          <div class="form-group">
            <label class="center-block">Label:
              <input class="form-control" formControlName="label">
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">type:
              <select class="form-control" formControlName="type">
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
              </select>
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">Year:
                <input class="form-control" formControlName="year">
            </label>
          </div>

        </div>
        <br>
        <!-- End of the repeated secret Lair (address) template -->
      </div>

    </div>
</form>

<!--
<p>Form value: {{ heroForm.value | json }}</p>
<p>Form status: {{ heroForm.status | json }}</p>
!-->